*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.start-screen{
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 95vh;
    width: 100vw;
    margin-top: 0;
    user-select: none;
}

.start-window{
    border: 3px solid;
    border-radius: 5px;
    padding: 50px 50px 20px 50px;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.mode-selection, .difficulty-selection-div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
}

.mode-selection > button{
    text-align: center;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 2em;
    border: 2px solid black;
    border-radius: 8px;
    padding: 0.5rem;
}

.difficulty-selection-div select{
    display: none;
    background-color: white;
    border: solid black 2px;
    border-radius: 8px;
    font-size: 1.3rem;
    padding: 0.5rem;
}

.players-info{
    border: 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.single-player-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    font-size: 3rem;
    font-weight: 500;
    gap: 1rem;
}

.player-name{
    max-width: 250px;
    text-align: center;
    border: dotted;
    border-radius: 20px;
}

.vs-symbol{
    font-size: 6rem;
    font-weight: 600;
}

.button-area{
    display: flex;
    justify-content: center;
}

.info-board{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 575;
}