.icn-player {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" style="width: 24px; height: 24px" viewBox="0 0 24 24"><path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" /></svg>');
}

.icn-bot {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" style="width: 24px; height: 24px" viewBox="0 0 24 24"><path d="M12,2A2,2 0 0,1 14,4C14,4.74 13.6,5.39 13,5.73V7H14A7,7 0 0,1 21,14H22A1,1 0 0,1 23,15V18A1,1 0 0,1 22,19H21V20A2,2 0 0,1 19,22H5A2,2 0 0,1 3,20V19H2A1,1 0 0,1 1,18V15A1,1 0 0,1 2,14H3A7,7 0 0,1 10,7H11V5.73C10.4,5.39 10,4.74 10,4A2,2 0 0,1 12,2M7.5,13A2.5,2.5 0 0,0 5,15.5A2.5,2.5 0 0,0 7.5,18A2.5,2.5 0 0,0 10,15.5A2.5,2.5 0 0,0 7.5,13M16.5,13A2.5,2.5 0 0,0 14,15.5A2.5,2.5 0 0,0 16.5,18A2.5,2.5 0 0,0 19,15.5A2.5,2.5 0 0,0 16.5,13Z" /></svg>');
}

.icn-home::before {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" style="width: 24px; height: 24px" viewBox="0 0 24 24"><path d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z"/></svg>');
}

@import url(icons.css);

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-VariableFont_wght.ttf"),
        url("../fonts/Montserrat-Italic-VariableFont_wght.ttf");
}


*{
    margin: 0;
    padding: 0;
    background-color: #f8dca8;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    transition: 0.3s;
}

.header-name{
    display: flex;
    justify-content: center;
    padding: 1em;
}

.header-name > h2{
    font-size: 3em;
    font-family: 'Share Tech Mono', monospace;
    color: #2e1e01;
}

.main,
.start-screen{
    color: #3a2601;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    width: 100vw;
    margin-top: 0;
    user-select: none;
}

.start-window{
    border: 3px solid;
    border-radius: 5px;
    padding: 50px 50px 20px 50px;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.mode-selection, .difficulty-selection-div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
}

.mode-selection > button{
    text-align: center;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 2em;
    border: 2px solid black;
    border-radius: 8px;
    padding: 0.5rem;
    cursor: pointer;
    color: #3a2601;
}

.difficulty-selection-div select{
    display: none;
    background-color: white;
    border: solid black 2px;
    border-radius: 8px;
    font-size: 1.3rem;
    padding: 0.5rem;
}

.players-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.single-player-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    font-size: 3rem;
    font-weight: 500;
    gap: 1rem;
}

.player-name{
    color: #3a2601;
    max-width: 250px;
    text-align: center;
    border: dotted black;
    border-radius: 20px;
}

.vs-symbol{
    color: #3a2601;
    font-size: 6rem;
    font-weight: 600;
}

.button-area{
    display: flex;
    justify-content: center;
}

.info-board{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 575;
}

.names-board{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: large;
}

.message-board{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7em;
    min-height: 2em;
}

.player-one{
    text-align: right;
    font-style: oblique -25deg;
}

.player-two{
    text-align: left;
    font-style: oblique -25deg;
}

.player-one,
.player-two {
    width: 150px;
}

.game-board{
    border: 2px solid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.single-square{
    border: 1px solid;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.5rem;
    font-weight: 300;
    cursor: pointer;
}

.single-square:hover{
    background-color: rgb(249, 247, 244);
}

.btn, button{
    width: 15rem;
    height: 2.5rem;
    border-radius: 8px;
    border: 3px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    text-align: center;
    display: inline-block;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    color: #3a2601;
}


.btn:active,
button:active {
    /* Scaling button to 0.98 to its original size */
    transform: scale(0.98);
    /* Lowering the shadow */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

input {
    all: unset;
}

button {
    all: unset;
}

.btn-large {
    width: 15rem;
    height: 2.5rem;
}

.btn-small {
    height: 2.5rem;
    width: 10rem;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    } 
}


.icn {
    content: "";
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    background-size: cover;
    display: inline-block;
    vertical-align: text-bottom;
}


@media (max-width: 768px){
    .header-name > h2{
        font-size: 2em;
    }

    .start-window{
        width: 600px;
    }

    .mode-selection > button{
    font-size: 1.5em;
    width: 100px;
    }

    .player-name{
        max-width: 150px;
        font-size: 0.7em;
        padding: 0.2em;
    }

    .vs-symbol{
        font-size: 4em;
    }

}


@media (max-width: 576px){
    .header-name > h2{
        font-size: 2em;
    }

    .start-window{
        width: 350px;
    }

    .mode-selection > button{
    font-size: 1em;
    width: 80px;
    }

    .player-name{
        max-width: 60px;
        font-size: 0.3em;
        padding: 0.5em;
    }

    .vs-symbol{
        font-size: 2em;
    }

}